<p style="color: green"><%= notice %></p>

<%= render @inputs_text_input %>

<div>
  <%= link_to "Edit this text input", edit_inputs_text_input_path(@inputs_text_input) %> |
  <%= link_to "Back to text inputs", inputs_text_inputs_path %>

  <%= button_to "Destroy this text input", @inputs_text_input, method: :delete %>
</div>
