<%= form_with(model: input) do |f| %>
  <% if input.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

      <ul>
        <% input.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :inputable_id, style: "display: block" %>
    <%= f.number_field :inputable_id %>
  </div>

  <div>
    <%= f.label :inputable_type, style: "display: block" %>
    <%= f.text_field :inputable_type %>
  </div>

  <div>
    <%= f.label :position, style: "display: block" %>
    <%= f.number_field :position %>
  </div>

  <div>
    <%= f.label :form_id, style: "display: block" %>
    <%= f.select :form_id, Form.all.limit(500).pluck(:legend, :id), include_blank: true %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
