<div id="<%= dom_id form %>">
  <p>
    <strong>Name:</strong>
    <%= form.name %>
  </p>

  <p>
    <strong>Legend:</strong>
    <%= form.legend %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= form.name %>
  </p>

  <p>
    <strong>Page:</strong>
    <%= form.page_id %>
  </p>

</div>
